Binaries/*
.vs/*
packages/*
Package/obj/*
Core/obj/*
Gui/obj/*
VisualizerServices/obj/*
Test/Debuggee/obj/*
Test/DebuggeeVisualizer/obj/*
Test/GuiStandalone/obj/*
Test/Utility/obj/*
Test/Debuggee/.vs/*
Test/Debuggee/packages/*
